## Pandas practise

In [2]:
import pandas as pd
import numpy as np

##### Create a Pandas series

In [4]:
data = [10, 20, 30, 40]
series = pd.Series(data)

In [28]:
series

first     1
second    2
third     3
forth     4
fifth     5
dtype: int32

###### Create a Series datatype with custom index

In [7]:
data = [10, 20, 30, 40]
label = ['apple', 'banana', 'orange', 'fig']
series = pd.Series(data, index=label)

In [8]:
series

apple     10
banana    20
orange    30
fig       40
dtype: int64

##### Creating a Series from a Dictionary

In [10]:
data = {
    'apple': 3,
    'banana': 2,
    'cherry': 5
}

series = pd.Series(data)

In [11]:
series

apple     3
banana    2
cherry    5
dtype: int64

###### Creating a Series with Scalar Value

In [13]:
label = ['apple', 'banana', 'orange', 'fig']
series = pd.Series(5, index=label)

In [14]:
print(series)

apple     5
banana    5
orange    5
fig       5
dtype: int64

In [15]:
# Empty series
series = pd.Series()
print(series)

Series([], dtype: object)

In [16]:
# Creating series from numpy array
np_array = np.array([1,2,3,4,5])
series = pd.Series(np_array, index=['first', 'second', 'third', 'forth', 'fifth'])
print(series)

first     1
second    2
third     3
forth     4
fifth     5
dtype: int32